<html>

  <head>
    <title>Chattest Chap</title>
    <link rel="shortcut icon" href="public/svg/favicon.svg" />

    <script src="public/js/jquery.js"></script>
    <script src="public/js/client.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/v4-shims.js"></script>

    <link rel="stylesheet" href="public/style/css/style.css" />

    <meta name="description" content="Github API app with Nodejs Server." />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta type="datakey" name="session" value='{{{json session}}}' />
  </head>

  <body onload="init()">


    <header id="header">
      <h1>
        <span class="title" title="Chattest Chap">
          Chattest Chap
        </span>

        <section class="channel-contain" onclick="focusChannel()">
          &lt;
          <span type="text" id="channel" oninput="changeChannel()" onchange="changeChannel()" title="Channel"
            contenteditable="true" spellcheck="false" onblur="changeChannelBlur()">root</span>
          &gt;
        </section>
      </h1>

      <div class="top-bar">
        {{#if session}}

        <span class="name">
          <span>
            {{session.user.name}}
          </span>
          |
          <code>
            {{session.user.login}}
          </code>
        </span>

        <div class="button-contain">
          <button onclick="location.href += 'logoff'" class="icon" id="btn-logoff">
            <i class="fas fa-sign-out-alt"></i>
          </button>

          {{else}}

          <span class="name">
            <a href="/auth/github">Login with GitHub</a>
          </span>

          <div class="button-contain">
            {{/if}}

            <button onclick="refresh()" class="icon" id="btn-refresh">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>

    </header>

    <main>

      {{#if session}}

      <section class="msg-contain">
        <wrapper>
          <span id="msg" placeholder="Message" autofocus onkeydown="msgKeyDown(event)" onkeyup="msgKeyUp(event)"
            onchange="msgChange()" oninput="msgChange()" contenteditable="true" aria-multiline="true"
            multiline="true"></span>
          <button onclick="send()" class="icon" id="btn-send">
            <i class="fa fa-arrow-circle-right"></i>
          </button>
        </wrapper>
      </section>

      {{/if}}

      <div id="msgs"></div>

    </main>

    <footer>
      <img src="public/svg/name.svg" />
    </footer>

  </body>

  {{!-- Templates, will not show normally --}}
  <components style="display:none;visibility:none;">
    <comp name="msg">
      <article class="msg {self}">
        <wrapper>
          <header>
            <img class="avatar" {avatar} />
            <h1>
              {name}
            </h1>
            |
            <code>
              {user}
            </code>
            <icon>
              {icon}
            </icon>
          </header>
          <content>
            {content}
          </content>
        </wrapper>
      </article>
    </comp>
  </components>

</html>