<html>

  <head>
    <title>Chat test</title>
    <link rel="shortcut icon" href="#" />
    <script src="public/js/jquery.js"></script>
    <script src="public/js/client.js"></script>
    <meta name="description" content="Github API app with Nodejs Server." />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body onload="refresh()">
    <header>
      <h1>Chat test</h1>
    </header>

    <main>

      {{#if session}}
        <p>
          You are now logged in as
          {{session.user.name}}
        </p>
        <p>
          <a href="/logoff">Sign out</a>
        </p>
        <details>
          <summary>User Details</summary>

          <code>
            {{session.userJson}}
          </code>
        </details>

        <section>
          <input type="text" value="TEST_123" id="msg" />
          <button onclick="send()">Send Message</button>
        </section>

      {{else}}
        <a class="container" href="/auth/github">Login with GitHub</a>
      {{/if}}

      <button onclick="refresh()">Refresh</button>
      <div id="msgs"></div>

    </main>

  </body>

</html>